<!doctype html>
<head>
  <title>Demo React Render</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://localhost:8000/src/client/public/bundle.js"></script>
</head>
<body>
  <p>Rendered at the server, if the service is available.</p>
  <p>Check localhost:3000 </p>
  <!-- Props are hard coded for demo purposes, the code
  would normally load the props from an API call to
  achieve the same results -->
  <div id="app" data-props='{{ component_props | tojson }}'>
    {{ component | safe}}
  </div>
</body>
